1. Не попрошайничать. Иначе ничего не получите.
2. По вопросам кодов писать Модератору Weiry_ModerGang.
3. Обязательным условием является присутствиие в банде.
4. В банде функционирует система иерархии.
5. Коды являются общими и устанавливаются Главарём банды или Авторитетом.
6. В случае, если Главарь банды получает блокировку, банда переходит игроку по иерархии.
7. Главаря и Модератора не просить повторно о чём-либо, если получили отказ. Причина отказа может не указываться.
8. Иные правила, не оглашённые в данном списке устанавливаются в соответствии с иерархией.
