Правила:
1. Не запрашивать что-либо у Главы банды. Так вы бесите Главу банды и, как следствие, потом ничего не получите
2. По поводу кодов 228003 и 228004 обращаться к Модератору банды (Weiry_ModerGang).
3. Обязательным условием для кодов является присутствие в банде. Иначе вам будет отказано в просьбе.
4. В банде должен соблюдаться принцип вертикали иерархии. В случае непринятия иерархии следует понижение до Громилы.
5. В случае, если Глава получает блокировку в игре, банда переходит по иерархии.
